*{
    padding: 0;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
}
header{
    font-size: 16px;
    font-weight: 800;
}
.nav-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 65px;
    padding: 20px;
    background-color: #121212;
    margin-bottom: 12px;
}
.nav-menu img{
    margin-left: 80px;
    width: 70px;
    height: 35px;
}
.nav-menu button{
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 0px 16px;
    background-color: transparent;
    border: none;
}
.nav-menu div{
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 0px 16px;
    background-color: transparent;
    border: none;
}
.nav-menu input{
    font-size: 16px;
    font-weight: 500;
    padding: 5.25px 0px 6px 8px;
    width: 655px;
    height: 37px;
    margin-left: 0;
    border: none;
    border-radius: 0px 4px 4px 0px;
}
.nav-menu p{
    margin-left: -20px;
    font-size: 16px;
    font-weight: 900;
    font-family: "Oswald", sans-serif;
    padding-right: 30px;
    margin-right: -30px;
    height: 35px;
    border-right: 2px solid #323232;
}
.nav-menu span{
    font-size: 17.5px;
    font-family: "Oswald", sans-serif;
    color: rgb(74, 164, 223);
}
.btn-favorite-list{
    font-size: 16px;
    font-weight: 800;
}
.btn-favorite-list:hover{
    width: 200px;
    height: 35px;
    background-color: #252525;
    border-radius: 50px;
}
.btn-favorite-list i{
    font-size: 20px;
    margin-right: 10px;
}

.btn-login{
    margin-left: -37px;
    font-size: 16px;
    font-weight: 800; 
}
.btn-login:hover{
    height: 35px;
    background-color: #252525;
    border-radius: 50px;
}
.nav-menu .btn-menu{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 800;
    margin: 0px -45px 0px -34px
}
.nav-menu .btn-menu:hover{
    width: 100px;
    height: 35px;
    background-color: #252525;
    border-radius: 50px;
}
.nav-menu .btn-menu i{
    font-size: 24px;
    font-weight: 900;
}
.search i{
    color: #252525;
    font-weight: 900;
    margin-left: -30px;
}
.announcement{
    display: flex;
    justify-content: center;
}
.btn-language {
    color: white;
    width: 100px;
    height: 100px;
    background-color: #252525;
    position: relative;
    margin-left: -37px;
}
.btn-language::before{
    content: "";
    position: absolute;
    top: 46px;
    right: 42px;
    width: 0;
    height: 0;
    border-top: 7px solid #ffffff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.btn-all{
    right: 0;
    color: rgb(32, 32, 32) !important;
    font-weight: 800;
    font-size: 16px;
    width: 80px;
    height: 36px;
    background-color: #ffffff !important;
    position: relative;
    border-radius: 4px 0px 0px 4px;
}
.btn-all::before{
    content: "";
    position: absolute;
    top: 14px;
    right: 11px;
    width: 0;
    height: 0;
    border-radius: 60px;
    border-top: 5px solid #1a1a1a;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.first-trailers{
    display: flex;
    padding: 20px;
}
.main-video {
    flex: 2;
    position: relative;
}
.main-video img {
    width: 940px;
    border-radius: 8px;
    margin-left: 120px;
}
.main-video .overlay {
    position: absolute;
    bottom: 10px;
    left: 90px;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.main-video .overlay::before {
    content: '\25B6'; /* Ícone de play */
    font-size: 24px;
    margin-right: 10px;
}
.next-videos {
    flex: 1;
    margin-left: 20px;
    background: #0b0b0b;
    border-radius: 8px;
    margin-right: 100px;
}
.next-videos h2 {
    margin-bottom: 10px;
    color: rgb(255, 204, 0);
}
.video-item {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    position: relative;
    padding: 5px;
}
.video-item .movie-image {
    width: 90px;
    height: 130px;
    border-radius: 10px;
    margin-right: 10px;
    object-fit: cover;
}
.video-item .play-button {
    position: absolute;
    left: 120px;
    top: 18%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-item .video-duration {
    position: absolute;
    bottom: 96px;
    right: 270px;
    color: rgb(149, 149, 149);
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 16px;
}
.video-item p {
    margin: 0;
    font-size: 14px;
}
.teste22{
    margin-top: 40px;
    flex-direction: column !important;
}
.like-image{
    width: 105px ;
    height: 25px ;
    margin-right: 200px ;
    margin-top: 10px ;
}



.slider{
    display: flex;
    justify-content: center;
}

.slide{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1a1a1a;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.slide img{
    width: 226px;
    height: 290px;
    border-radius: 10px;
    margin-bottom: 10px !important;
}
.slide .star-span{
    color: #5799EF;
    margin-left: 30px;
}
.slide span{
    color: white;
    margin-left: 4px;
}
.slide p{
    color: yellow;
}
.slide h1{
    margin-bottom: 15px !important;
    font-size: 19px;
}
.slide p{
    margin-bottom: 15px !important;
    font-size: 18px;
}
.slide-btn-list{
    box-sizing: border-box;
    color: #5799EF;
    background-color: #252525;
    padding: 9px 55px;
    border-radius: 30px;
    border: none;
    font-size: 19px;
    margin-bottom: 6px !important;
}
.slide-btn-trailer{
    color: white;
    padding: 9px 39px;
    border-radius: 30px;
    font-size: 19px;
    border: none;
    background-color: #25252500;
    margin-bottom: 8px !important;
}
.slide-btn-trailer:hover{
    color: white;
    box-sizing: border-box;
    background-color: #252525;
    padding: 9px 55px;
    border-radius: 30px;
    border: none;
    font-size: 17px;
}

#loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 12px solid gold;
    border-top: 12px solid transparent;
    animation: spin 1s ease-in-out infinite;
}


@keyframes spin {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

#backdrop-content{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.3);
}