*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 400px;
    height: fit-content;
    padding: 10px;
    border: 2px solid #252525;
    border-radius: 10px;
}